@page
@model AspNetCoreWebApp.Pages.ProdutoCRUD.DeleteModel

@{
    ViewData["Title"] = "Exclusão de Produto";
}

<h1>@ViewData["Title"]</h1>

<h3>Deseja realmente excluir esse produto?</h3>
<div>
    <h4><b>Código:</b> @Model.Produto.IdProduto.ToString("D6")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Estoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Estoque)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Produto.IdProduto" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar à Listagem</a>
    </form>
</div>
